.header {
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.footer {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.header-text,
.footer-text {
    padding: 0px 10px 0px 10px;
}

.hello-box {
    border-style: solid;
    text-align: center;
    padding: 50px 100px 50px 100px;
    font-weight: bold;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: red;
    text-align: center;
}

hr {
    border-top: 1px solid;
}

.form-element {
    padding: 10px 10px 10px 10px;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.copyright {
    padding: 10px 0px 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

.top-nav {
    float: right;
    font-weight: bold;
}

.top-nav a:link,
.top-nav a:visited {
    color: red !important;
    text-decoration: none;
}